<div style="padding: 10px;">
<h1>{{title}}</h1>
<p>
  Time is {{ time | date: "MMM dd - hh:mm a"}}
</p>
<div id="MainView">
  <h4>Word Types</h4>
<div style="display: inline; padding: 10px;">
  <h4>Your sentence</h4>
  <mat-card>
    <mat-card-content>{{sentence}} </mat-card-content>
  </mat-card>
<mat-card  *ngIf="show" @fadeIn @fadeOut style="color:darkgreen; font-size: 14;">{{message}}</mat-card>
  <br>
  <mat-divider></mat-divider>
  <br>
    <button mat-raised-button disabled="{{isButtonEnabled}}" (click)="saveSentence()" color="primary"
    matTooltip="Click to save sentence"
    aria-label="Button that displays a tooltip when focused or hovered over">Save Sentence</button>
    <br>
    <br>
  <mat-divider></mat-divider>

  <mat-radio-group aria-label="Select an option" >
    <mat-radio-button (click)="loadWords(wordType.id)" *ngFor="let wordType of wordTypeList;"  value="{{ wordType.id }}">{{ wordType.text }} </mat-radio-button>
  </mat-radio-group>

  <mat-divider></mat-divider>
  <br>
  <div style="width: 90%;  display: flex;  flex-direction: row; justify-content: space-between;">
    <mat-chip-listbox aria-label="Fish selection">   
        <mat-chip-option *ngFor="let word of wordList;" (selectionChange)="changeSelected(word.text)">{{ word.text }} </mat-chip-option>      
    </mat-chip-listbox>

  </div>

  <mat-list role="list">
    <mat-list-item  *ngFor="let sentence of sentenceList;"  role="listitem">{{sentence.text}}</mat-list-item>
  </mat-list>
</div>
    <router-outlet></router-outlet>
  <footer>
    &copy; Running Hill Test
</footer>
</div>
</div>