<div style="padding: 10px;">
<h1>{{title}}</h1>
<p>
  Time is {{ time | date: "MMM dd - hh:mm a"}}
</p>
<div id="MainView">
  <h4>Word Types</h4>
<div style="display: inline; padding: 10px;">
  <h4>Your sentence</h4>
  <mat-card>
    <mat-card-content>{{sentence}} </mat-card-content>
  </mat-card>

  <br>
  <mat-divider></mat-divider>
  <br>
    <button mat-raised-button disabled="{{isButtonEnabled}}" (click)="saveSentence()" color="primary">Save Sentence</button>
    <br>
    <br>
  <mat-divider></mat-divider>

  <mat-radio-group aria-label="Select an option" >
    <mat-radio-button (click)="loadWords(wordType.id)" *ngFor="let wordType of wordTypeList;"  value="{{ wordType.id }}">{{ wordType.text }} </mat-radio-button>
  </mat-radio-group>

  <mat-divider></mat-divider>

  <div style="width: 50px;  display: flex;  flex-direction: row; justify-content: space-between;">
    <mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Color selection" style="display: inline;">      
        <mat-chip-option  style="display: inline;" *ngFor="let word of wordList;" (selectionChange)="changeSelected(word.text)">{{ word.text }} </mat-chip-option>      
    </mat-chip-listbox>

  </div>
</div>
    <router-outlet></router-outlet>
  <footer>
    &copy; Running Hill Test
</footer>
</div>
</div>